.header {
    display: flex;
    align-items: center;
    height: 65px;
    padding: 20px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
}

.logo {
    max-width: 80px;
    height: 100%;
    margin-right: 6px;
}

.title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-right: auto;
}

.project-name {
    font-size: 0.95rem;
    font-weight: 500;
}

.form {
    margin-bottom: 20px;
    display: flex;
}