.header {
    display: flex;
    align-items: center;
    height: 65px;
    padding: 20px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
}

.logo {
    max-width: 80px;
    height: 100%;
    margin-right: 6px;
}

.title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-right: auto;
}

.project-name {
    font-size: 0.95rem;
    font-weight: 500;
}

.body-form {
    align-items: center;
    height: 25vh;
}

main {
    padding: 36px;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    justify-content: center;
    align-items: center;
}


input {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0;
    display: flex;
    padding: 8px 10px;
    border-radius: 5px;
    text-indent: 5px;

}

.button-form {
    margin-top: 20px;
    padding: 20px;
    grid-column: 1 / -1;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
}